version: "2"

volumes:
  jenkins-data:
    external: true

services:
  jenkins:
    image: jenkins
    container_name: jenkins
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - jenkins-data:/var/jenkins_home/
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/local/bin/docker:/usr/local/bin/docker

